language: scala
scala:
- 2.10.0
before_script:
- "./adjust_config.sh"
- "./create_version_info.sh"
script:
- sbt test
env:
  global:
  - secure: GD6/Yoy4RrOzGoU6NvwoCTfELX87e7z07wRIiYR/+m48AXOnyuP2+Z7XXRPRvm24bM60EXsu2nMF5TH5re2Q9HJIU7x5uJRpHYhkkY+/IGA9pyZIizbPod8NHm4DOTepujvluB/hCLd7J6gwCJpp10CTY+5oy+HNo9DBeqHO7Dw=
  - secure: HvYVx+exrcqAWL02Klf+ndiyUCk9jwlPREwcBkRt0+CnJZx39PuWc3Q8sJGYNIdhln7rR0nCIctWh9E5DkIspcHIqT9FUP4pjOiKdnNqyJcR08ITbr1G6+gLbZe3WGPtfCfrGCHD5xMWusf1q0qWfNk1QwM0RqBHjfF9RljAcDg=
  - secure: fhVqeLhCQrJZsrdgp2P/K/CDy13dlyFCSW/sD9ZTWN+NC6muMLwSemzIG9gtUMlc6B6pbRBzdMfd1zI4vbjYhLf9EbZzxgEno6x1iuRei1qICxLS/2bfgdO+DQoSgk+2SajXIn2oNXb9ym9+FvZZxCtJRewJBCUh2JmI9v4Wmo8=
  - secure: L/WnWKE1DJ0UfMovaDMtJYX4/whZ19oOAS0aLUoH63pmbAC3r7vvfmgklYw99OPnle5osuKnQO43IgOwclN19w34HZqzPwfu/o1OHkc8Vzn9Ifk8HLkgwrGPwAJuiJx88Zu7Sc1wMFPCQqbJ1UopHtpdOfPGGaWhUUTh5xOYvJI=
notifications:
  email:
    on_success: never
    on_failure: change
deploy:
  provider: heroku
  api_key:
    secure: MPf11M7lbR32/EcmWqT577weGO4sWvOI5cAD5t7Sx+Bvzf2PFwuK7KXU/ab2N91tRi70JYDXokIoTSp2WUjzMiZNsLcfuJHEc+2of8wLIAzxnQKR6VgOlVhMm4oxv6bZcL/Xh4axIDyIQ5o/k7ROkaYFiaopJ9lYLDTCwsCpUjw=
dd:
  secure: aRC0d1xdku+2HlRUyGdMxDE5o7A+pCWyWBZAWpaxUjTmMSyB4bAT3xXy50yBiwhvOZftSh6QOVnPHqNDkMAF7S35+ISLXBQi2kyAqVuzb+2WLb6YGDGGeYslRnStZUsMPyalBNxRpyhOddIIZJqsOXSL/JmjxX+MuqtO1p4jz6Q=
