@(paymentNetworks: List[PaymentNetwork], referredId: String, selected: String)

<input type="hidden" name="referredId" value="@referredId"/>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
    @for((group, networks) <- groupPaymentNetworks(paymentNetworks)) {
        @for(network <- networks) {
    <li class="payment-network">
        <a href="#network-@network.networkCode" data-toggle="tab">
            <img src="@network.logoUrl" class="network-img" alt="@network.description"/>
        </a>
    </li>
        }
    }
    </ul>
    <div id="form-billing-method" class="tab-content">
    @for((group, networks) <- groupPaymentNetworks(paymentNetworks)) {
        @for(network <- networks) {
        <div class="payment-network-form tab-pane" id="network-@network.networkCode">
            <input type="text" name="network" value="@network.networkCode">
            @Html(network.getFormHtml)
        </div>
        }
    }
    </div>
</div>