@(currentCategory: Category = null)

<div id="main-navigation" class="navbar">
    <div class="container parent-menu">
        <ul class="nav nav-pills" role="navigation">
            @for(category <- getRootCategories) {
            <li id="header-menu-@category.getSlug" class="@getActiveClass(category, currentCategory)">
                <a href="@getCategoryUrl(category)" id="link-category-@category.getSlug" class="dropdown-toggle">
                    @category.getName
                </a>
                @if(!category.getChildren.isEmpty) {
                <div class="child-menu @getActiveClass(category, currentCategory)">
                    <ul class="nav nav-pills dropdown-list" role="menu" aria-labelledBy="category-@category.getSlug">
                        @for(subcategory <- category.getChildren) {
                        <li id="header-submenu-@subcategory.getSlug" class="@getActiveClass(subcategory, currentCategory)">
                            <a href="@getCategoryUrl(subcategory)" id="link-category-@subcategory.getSlug">
                                <small>@subcategory.getName</small>
                            </a>
                        </li>
                        }
                    </ul>
                </div>
                }
            </li>
            }
        </ul>
    </div>
</div>