@(cart: Cart)

<script id="order-summary-template" type="text/x-handlebars-template">
    <ul>
        {{#if totalNetPrice}}
        <li>
            Item total
            <span>{{totalNetPrice}} {{currency}}</span>
        </li>
        {{/if}}
        {{#if shippingPrice}}
        <li>
            Shipping
            <span>{{shippingPrice}} {{currency}}</span>
        </li>
        {{/if}}
        {{#if taxPortion}}
        <li>
            {{#each taxPortion}}
            Tax {{rate}} %
            <span>{{amount}} {{currency}}</span>
            {{/each}}
        </li>
        {{/if}}
        <li class="total">
            Total
            <span>{{totalPrice}} {{currency}}</span>
        </li>
    </ul>
</script>

<div data-url="@routes.Carts.get" class="order-summary">
    @* Load with template *@
</div>