@(product: Product, variant: Variant, category: Category, imageSize: ImageSize)

<div class="product-image">
    <a href="@getProductUrl(product, product.getMasterVariant, category)">
        <img src="@product.getFeaturedImage.getSize(imageSize).getUrl" />
    </a>
</div>
<div class="product-info">
    @if(hasMoreColors(product)) {
    <div class="product-info-variants">
        <div class="product-info-variants-color">
            <ul>
                @for(matchedVariant <- getPossibleVariants(product, variant, "color")) {
                <li class="@if(matchedVariant.getId == variant.getId){active}">
                    <a href="@getProductUrl(product, matchedVariant, category)"
                       data-image="@matchedVariant.getFeaturedImage.getSize(imageSize).getUrl"
                       data-price="@matchedVariant.getPrice.getValue"
                       data-variant="@matchedVariant.getId">
                        <img src="@matchedVariant.getFeaturedImage.getSize(ImageSize.THUMBNAIL).getUrl" class="img-circle" title="@matchedVariant.getString("color")" />
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
    }
    <div class="product-info-name">
        <a href="@getProductUrl(product, product.getMasterVariant, category)">
            @capitalizeInitials(product.getName)
        </a>
    </div>
</div>
<div class="product-footer clearfix">
    <div class="product-info-price">
        @variant.getPrice.getValue
    </div>
    <div class="product-info-buy">
        <button type="button" name="addToCart-product" data-product="@product.getId" data-variant="@variant.getId" class="btn btn-link btn-mini">
            <i class="icon-shopping-cart"></i>
        </button>
    </div>
</div>