<div id="top-navigation" class="navbar">
    <div class="container">
        <ul class="nav" role="navigation">
            <li class="nav-link">
                <a class="brand" href="/">Sphere</a>
            </li>
        </ul>
        <ul class="nav pull-right">
        @if(isLoggedIn) {
            <li class="nav-link">
                <a href="@routes.Customers.show">
                    Hi <span data-form-update="firstName">@getCurrentCustomer.getFirstName</span>
                </a>
            </li>
            <li class="nav-link">|</li>
            <li class="nav-link">
                <a href="@routes.Login.logOut">Sign out</a>
            </li>
        } else {
            <li class="nav-link">
                <a href="@routes.Login.show">Register</a>
            </li>
            <li class="nav-link">|</li>
            <li class="nav-link">
                <a href="@routes.Login.show">Login</a>
            </li>
        }
            <li id="mini-cart">
                @helper.miniCart(getCurrentCart)
            </li>
        </ul>
    </div>
</div>