@(logInForm: Form[customerForm.LogIn])

@if(flash.containsKey("log-in-error")) {
<div class="alert alert-error">
    @flash.get("log-in-error")
</div>
}
@if(flash.containsKey("log-in-success")) {
<div class="alert alert-success">
    @flash.get("log-in-success")
</div>
}
@if(flash.containsKey("log-in-info")) {
<div class="alert alert-info">
    @flash.get("log-in-info")
</div>
}

<div class="form">
    @defining(logInForm.field("email").value) { email =>
    <div class="control-group">
        <label for="log-in-email" class="control-label">Email</label>
        @form.error("log-in-email")
        <div class="controls">
            <input type="email" name="email" id="log-in-email" value="@email"
                   placeholder="username@@example.com" aria-label="Email" required class="span4" />
        </div>
    </div>
    }
    @defining(logInForm.field("password").value) { password =>
    <div class="control-group">
        <label for="log-in-password" class="control-label">Password</label>
        @form.error("log-in-password")
        <div class="controls">
            <input type="password" name="password" id="log-in-password" value="@password"
                   placeholder="Your password" aria-label="Password" required class="span4" />
        </div>
    </div>
    }
</div>