@(recoverPasswordForm: Form[passwordForm.RecoverPassword])

@if(flash.containsKey("recover-password-error")) {
<div class="alert alert-error">
    @flash.get("recover-password-error")
</div>
}
@if(flash.containsKey("recover-password-success")) {
<div class="alert alert-success">
    @flash.get("recover-password-success")
</div>
}
@if(flash.containsKey("recover-password-info")) {
<div class="alert alert-info">
    @flash.get("recover-password-info")
</div>
}

<div class="form">
    @defining(recoverPasswordForm.field("email").value) { email =>
    <div class="control-group">
        <label for="recover-password-email" class="control-label">Email</label>
        @form.error("recover-password-email")
        <div class="controls">
            <input type="email" name="email" id="recover-password-email" value="@email"
                   placeholder="Email of your user account" aria-label="Email" required class="span4"/>
        </div>
    </div>
    }
</div>