@(resetPasswordForm: Form[ResetPassword])

@if(flash.containsKey("reset-password-error")) {
<div class="alert alert-error">
    @flash.get("reset-password-error")
</div>
}
@if(flash.containsKey("reset-password-success")) {
<div class="alert alert-success">
    @flash.get("reset-password-success")
</div>
}
@if(flash.containsKey("reset-password-info")) {
<div class="alert alert-info">
    @flash.get("reset-password-info")
</div>
}

<div class="form">
    @defining(resetPasswordForm.field("token").value) { token =>
        <input type="hidden" name="token" value="@token" required />
    }
    <fieldset>
        @defining(resetPasswordForm.field("newPassword").value) { newPassword =>
        <div class="control-group">
            <label for="reset-password-newPassword" class="control-label">New password</label>
            @form.error("reset-password-newPassword")
            <div class="controls">
                <input type="password" name="newPassword" id="reset-password-newPassword" value="@newPassword"
                       placeholder="Password you want" aria-label="New password" required autocomplete="off" class="span4"/>
            </div>
        </div>
        }
        @defining(resetPasswordForm.field("repeatPassword").value) { repeatPassword =>
        <div class="control-group">
            @form.error("reset-password-repeatPassword")
            <div class="controls">
                <input type="password" name="repeatPassword" id="reset-password-repeatPassword" value="@repeatPassword"
                       placeholder="Repeat new password" aria-label="Repeat password" required autocomplete="off" class="span4"/>
            </div>
        </div>
    </fieldset>
    }
</div>