@()

<h5>Address information</h5>
<div class="form">
    <div class="control-group">
        <label for="address-company" class="control-label">Company</label>
        <div class="controls">
            <input type="text" name="company" id="address-company" value="{{company}}"
                   placeholder="Company name (optional)" aria-label="Company (optional)" class="span4" />
        </div>
    </div>
    <div class="control-group">
        <label for="address-firstName" class="control-label">Name</label>
        <div class="controls controls-row">
            <input type="text" name="firstName" id="address-firstName" value="{{firstName}}"
                   placeholder="First name" aria-label="First name" required class="span2"/>
            <input type="text" name="lastName" id="address-lastName" value="{{lastName}}"
                   placeholder="Last name" aria-label="Last name" required class="span2"/>
        </div>
    </div>
    <div class="control-group">
        <label for="address-phone" class="control-label">Phone</label>
        <div class="controls">
            <input type="tel" name="phone" id="address-phone" value="{{phone}}"
                   placeholder="Phone number" aria-label="Phone" required class="span4"/>
        </div>
    </div>
    <div class="control-group">
        <label for="address-street" class="control-label">Address</label>
        <div class="controls">
            <input type="text" name="street" id="address-street" value="{{street}}"
                   placeholder="First address line" aria-label="Address line" required class="span4"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" name="street2" id="address-street2" value="{{street2}}"
                   placeholder="Second address line (optional)" aria-label="Address line 2 (optional)" class="span4"/>
        </div>
    </div>
    <div class="control-group">
        <label for="address-city" class="control-label">City</label>
        <div class="controls controls-row">
            <input type="text" name="city" id="address-city" value="{{city}}"
                   placeholder="City" aria-label="City" required class="span2"/>
            <input type="text" name="postalCode" id="address-postalCode" value="{{postalCode}}"
                   placeholder="Postal code" aria-label="Postal code" required class="span2"/>
        </div>
    </div>
    <div class="control-group">
        <label for="address-country" class="control-label">Country</label>
        <div class="controls">
            <select name="country" id="address-country" aria-label="Country" required>
                @for(countryCode <- addressForm.ListAddress.getCountryCodes) {
                <option value="@countryCode.getAlpha2" {{#ifEq "@countryCode.getAlpha2" country}}selected{{/ifEq}}>@countryCode.getName</option>
                }
            </select>
        </div>
    </div>
</div>
<h5>Additional contact information</h5>
<div class="form">
    <div class="control-group">
        <label for="address-email" class="control-label">Email</label>
        <div class="controls">
            <input type="email" name="email" id="address-email" value="{{email}}"
                   placeholder="Email address (optional)" aria-label="Email (optional)"/>
        </div>
    </div>
    <div class="control-group">
        <label for="address-mobile" class="control-label">Mobile</label>
        <div class="controls">
            <input type="tel" name="mobile" id="address-mobile" value="{{mobile}}"
                   placeholder="Mobile phone (optional)" aria-label="Mobile (optional)"/>
        </div>
    </div>
</div>