@(setAddressForm: Form[addressForm.SetAddress])

@if(flash.containsKey("address-error")) {
<div class="alert alert-error">
    @flash.get("shipping-address-error")
</div>
}
@if(flash.containsKey("address-success")) {
<div class="alert alert-success">
    @flash.get("shipping-address-success")
</div>
}
@if(flash.containsKey("address-info")) {
<div class="alert alert-info">
    @flash.get("shipping-address-info")
</div>
}

<h5>Address information</h5>

<div class="form">
    @defining(setAddressForm.field("company").value) { company =>
    <div class="control-group">
        <label for="shipping-address-company" class="control-label">Company</label>
        @form.error("shipping-address-company")
        <div class="controls">
            <input type="text" name="company" id="shipping-address-company" value="@company"
                   placeholder="Company name (optional)" aria-label="Company (optional)" class="span4" />
        </div>
    </div>
    }
    @defining(setAddressForm.field("firstName").value, setAddressForm.field("lastName").value) { case(firstName, lastName) =>
    <div class="control-group">
        <label for="shipping-address-firstName" class="control-label">Name</label>
        @form.error("shipping-address-firstName")
        @form.error("shipping-address-lastName")
        <div class="controls controls-row">
            <input type="text" name="firstName" id="shipping-address-firstName" value="@firstName"
                   placeholder="First name" aria-label="First name" required class="span2"/>
            <input type="text" name="lastName" id="shipping-address-lastName" value="@lastName"
                   placeholder="Last name" aria-label="Last name" required class="span2"/>
        </div>
    </div>
    }
    @defining(setAddressForm.field("phone").value) { phone =>
    <div class="control-group">
        <label for="shipping-address-phone" class="control-label">Phone</label>
        @form.error("shipping-address-phone")
        <div class="controls">
            <input type="tel" name="phone" id="shipping-address-phone" value="@phone"
                   placeholder="Phone number" aria-label="Phone" required class="span4"/>
        </div>
    </div>
    }
    @defining(setAddressForm.field("street").value) { street =>
    <div class="control-group">
        <label for="shipping-address-street" class="control-label">Address</label>
        @form.error("shipping-address-street")
        <div class="controls">
            <input type="text" name="street" id="shipping-address-street" value="@street"
                   placeholder="First address line" aria-label="Address line" required class="span4"/>
        </div>
    </div>
    }
    @defining(setAddressForm.field("street2").value) { street2 =>
    <div class="control-group">
        @form.error("shipping-address-street2")
        <div class="controls">
            <input type="text" name="street2" id="shipping-address-street2" value="@street2"
                   placeholder="Second address line (optional)" aria-label="Address line 2 (optional)" class="span4"/>
        </div>
    </div>
    }
    @defining(setAddressForm.field("postalCode").value, setAddressForm.field("city").value) { case(postalCode, city) =>
    <div class="control-group">
        <label for="shipping-address-city" class="control-label">City</label>
        @form.error("shipping-address-city")
        @form.error("shipping-address-postalCode")
        <div class="controls controls-row">
            <input type="text" name="city" id="shipping-address-city" value="@city"
                   placeholder="City" aria-label="City" required class="span2"/>
            <input type="text" name="postalCode" id="shipping-address-postalCode" value="@postalCode"
                   placeholder="Postal code" aria-label="Postal code" required class="span2"/>
        </div>
    </div>
    }
    @defining(setAddressForm.field("country").value) { country =>
    <div class="control-group">
        <label for="shipping-address-country" class="control-label">Country</label>
        @form.error("shipping-address-country")
        <div class="controls">
            <select name="country" id="shipping-address-country" aria-label="Country" required>
                @for(countryCode <- addressForm.ListAddress.getCountryCodes) {
                <option value="@countryCode.getAlpha2" @if(countryCode.getAlpha2 == country){selected=selected}>@countryCode.getName</option>
                }
            </select>
        </div>
    </div>
    }
</div>

<h5>Additional contact information</h5>

<div class="form">
    @defining(setAddressForm.field("email").value) { email =>
    <div class="control-group">
        <label for="shipping-address-email" class="control-label">Email</label>
        @form.error("shipping-address-email")
        <div class="controls">
            <input type="email" name="email" id="shipping-address-email" value="@email"
                   placeholder="Email address (optional)" aria-label="Email (optional)"/>
        </div>
    </div>
    }
    @defining(setAddressForm.field("mobile").value) { mobile =>
    <div class="control-group">
        <label for="shipping-address-mobile" class="control-label">Mobile</label>
        @form.error("shipping-address-mobile")
        <div class="controls">
            <input type="tel" name="mobile" id="shipping-address-mobile" value="@mobile"
                   placeholder="Mobile phone (optional)" aria-label="Mobile (optional)"/>
        </div>
    </div>
    }
</div>