@(updatePasswordForm: Form[UpdatePassword])

@if(flash.containsKey("update-password-error")) {
<div class="alert alert-error">
    @flash.get("update-password-error")
</div>
}
@if(flash.containsKey("update-password-success")) {
<div class="alert alert-success">
    @flash.get("update-password-success")
</div>
}
@if(flash.containsKey("update-password-info")) {
<div class="alert alert-info">
    @flash.get("update-password-info")
</div>
}

<div class="form">
    @defining(updatePasswordForm.field("oldPassword").value) { oldPassword =>
    <div class="control-group">
        @form.error("update-password-oldPassword")
        <div class="controls">
            <input type="password" name="oldPassword" id="update-password-oldPassword" value="@oldPassword" placeholder="Old password" required class="span4"/>
        </div>
    </div>
    }
    @defining(updatePasswordForm.field("newPassword").value) { newPassword =>
    <div class="control-group">
        @form.error("update-password-newPassword")
        <div class="controls">
            <input type="password" name="newPassword" id="update-password-newPassword" value="@newPassword" placeholder="New password" required class="span4"/>
        </div>
    </div>
    }
    @defining(updatePasswordForm.field("repeatPassword").value) { repeatPassword =>
    <div class="control-group">
        @form.error("update-password-repeatPassword")
        <div class="controls">
            <input type="password" name="repeatPassword" id="update-password-repeatPassword" value="@repeatPassword" placeholder="Repeat new password" required class="span4"/>
        </div>
    </div>
    }
</div>