<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>20</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <nectar.plugins.rbac.groups.JobProxyGroupContainer>
      <groups/>
    </nectar.plugins.rbac.groups.JobProxyGroupContainer>
    <com.cloudbees.jenkins.plugins.PublicKey/>
    <com.cloudbees.plugins.deployer.DeployNowJobProperty>
      <oneClickDeploy>false</oneClickDeploy>
      <configuration>
        <user>(jenkins)</user>
        <account>${account}</account>
        <deployables/>
      </configuration>
    </com.cloudbees.plugins.deployer.DeployNowJobProperty>
    <com.gmail.ikeike443.PlayAutoTestJobProperty/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SPHERE_PROJECT_KEY</name>
          <description>Please enter your sphere project key. (Note: Please don't mix it up with the project name.)</description>
          <defaultValue>snowflake2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SPHERE_CLIENT_ID</name>
          <description>Please enter the client id of your sphere project.</description>
          <defaultValue>QKStD-HjZLZGRqie2SPvzXSt</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SPHERE_CLIENT_SECRET</name>
          <description>Please enter the client secret of your sphere project.</description>
          <defaultValue>lnkNveGqslWKwt-qVE5yqVE0KBKM-sQL</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SPHERE_LANGUAGE</name>
          <description>Please enter the default language of your sphere project. (If you use the sample data keep 'en'.)</description>
          <defaultValue>en</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>${repositoryUrl}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Oracle JDK 1.7 (latest)</jdk>
  <triggers class="vector">
    <com.cloudbees.jenkins.forge.ForgePushTrigger>
      <spec></spec>
    </com.cloudbees.jenkins.forge.ForgePushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set -e
sed -i "s;^sphere.project=.*;sphere.project="${SPHERE_PROJECT_KEY}";g" conf/application.conf
sed -i "s;^sphere.clientId=.*;sphere.clientId="${SPHERE_CLIENT_ID}";g" conf/application.conf
sed -i "s;^sphere.clientSecret=.*;sphere.clientSecret="${SPHERE_CLIENT_SECRET}";g" conf/application.conf
sed -i "s;^sphere.defaultLocale=.*;sphere.defaultLocale="${SPHERE_LANGUAGE}";g" conf/application.conf</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>./sbt -Dsbt.log.noformat=true clean compile test dist</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>-
    <com.cloudbees.plugins.deployer.DeployPublisher>
      <deployIfUnstable>false</deployIfUnstable>
      <configuration>
        <user>(jenkins)</user>
        <account>${account}</account>
        <deployables>
          <com.cloudbees.plugins.deployer.deployables.WildcardMatchingDeployable>
            <applicationId>${applicationName}</applicationId>
            <applicationEnvironment></applicationEnvironment>
            <applicationConfig/>
            <apiEndPoint>https://api.cloudbees.com/api</apiEndPoint>
            <filePattern>target/universal/*.zip</filePattern>
          </com.cloudbees.plugins.deployer.deployables.WildcardMatchingDeployable>
        </deployables>
      </configuration>
    </com.cloudbees.plugins.deployer.DeployPublisher>
  </publishers>
  <buildWrappers/>
</project>
