/* Desktop */
@media (min-width: 980px) {
    #top-navigation .container {
        padding: 5px 100px;

        li.nav-link {
            padding: 10px 15px 10px;
            height: 45px;
            line-height: 45px;
        }
    }

    #product-list .product-item.featured {
        width: 422px;
    }
}

/* Tablet */
@media (max-width: 979px) {
    #top-navigation .container li.nav-link {
        padding-left: 10px;
    }

    #main-navigation {
        padding: 0px;
    }

    #product-list .product-item.featured {
        width: 422px;
    }
}

/* Phone */
@media (max-width: 480px) {

    #product-list .product-item.featured {
        width: 200px;
    }
}