.product-detail {
    .column-detail-style;

    .detail {
        float: left;
        width: 640px;
        padding: 10px;
        border-right: 1px solid #ECEEF4;

        .info {
            font-size: 15px;
            text-align: center;
            padding: 20px 10px;

            .product-name {
                margin-top: 10px;
            }
        }
    }

    .action {
        font-size: 12px;
        float: right;
        width: 200px;
        padding: 10px 30px 10px 10px;

        .product-info-variants-color {
            .product-info-variants-style;
            padding: 15px 0;
            border-bottom: 1px solid @lightest-gray;
        }

        .product-info-variant {
            border-bottom: 1px solid @lightest-gray;
            padding: 15px 0;

            ul {
                .unstyled;

                li {
                    display: inline-block;
                    padding: 0 4px 2px 0;

                    a {
                        display: inline-block;
                        padding: 0 4px;
                        border: 2px solid @lightest-gray;
                        border-radius: 20%;
                        color: @dark-gray;
                    }

                    &.active a {
                        border-color: @bright-blue;
                    }
                }
            }
        }

        .product-info-buy {
            margin: 40px 0;
        }
    }
}

#product-list {
    margin: 10px 5px 10px 50px;
    position: relative;


    .product-item {
        margin: 10px;
        float: left;
        text-align: center;
        padding: 1px 0;
        border-radius: 3px;
        border: 1px solid #d8d8d8;
        background-color: @foreground;

        width: 200px;

        .product-image {
            padding: 10px;
        }

        .product-info {
            border-top: 1px solid #d8d8d8;
            background-color: #fff;
            font-size: 12px;
            padding-bottom: 10px;

            .product-info-variants-color {
                .product-info-variants-style;
                min-height: 30px;
                padding: 10px;

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .product-info-name {
                padding-top: 10px;

                a {
                    color: @black-text;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }

        .product-footer {
            border-top: 1px dashed @light-gray;
            background-color: @foreground;
            padding: 5px 15px;
            font-size: 12px;

            .product-info-buy {
                float: right;
                opacity: 0.3;

                &:hover {
                    opacity: 0.7;
                }
            }

            .product-info-price {
                float: left;
                line-height: 23px;
                font-weight: bold;
                color: @gray-text;
            }
        }


        &.featured {
            width: 422px;
        }
    }
}