@(cart: Cart)

@scripts = {<script src="@routes.Assets.at("javascripts/cart.js")"></script>}

@main("Cart", "cart", scripts){
    <div class="navigation">
        @helper.topNavigation()
    </div>
}{
    <div id="cart">

        <div id="cart-cart" class="clearfix">

            <div class="step-header">
                <h3>Shopping cart</h3>
            </div>

            <div class="step-body">
                <ul class="cart-content unstyled">
                    @for(item <- cart.getLineItems) {
                    <li id="item-line-@item.getId" class="item-line">
                        <div class="item-container clearfix">
                            <div class="item-picture">
                                <img src="@item.getVariant.getFeaturedImage.getSize(ImageSize.SMALL).getUrl" alt="@item.getProductName" />
                            </div>
                            <div class="item-description">
                                <div class="item-main">
                                    <ul class="item-action">
                                        <li class="item-price">
                                            @item.getPrice.getValue
                                        </li>
                                        <li class="item-quantity">
                                            <fieldset>
                                                <input type="number" name="quantity" min="1" max="10" value="@item.getQuantity" data-item="@item.getId" class="input-mini" />
                                            </fieldset>
                                        </li>
                                        <li class="item-total-price">
                                            <span id="item-total-price-@item.getId">@item.getTotalPrice</span>
                                        </li>
                                    </ul>
                                    <div class="item-name">
                                        <h5>@item.getProductName</h5>
                                    </div>
                                </div>
                                <div class="item-detail">
                                    <div class="item-remove">
                                        <button type="button" name="remove" data-item="@item.getId" class="btn btn-link">
                                            Remove
                                        </button>
                                    </div>
                                    <ul class="unstyled">
                                    @for(attribute <- item.getVariant.getAttributes) {
                                        <li><strong>@capitalizeInitials(attribute.getName):</strong> @attribute.getString</li>
                                    }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>

        <div id="cart-footer" class="footer">
            <div class="left">
                <a href="@getReturnUrl" class="btn">
                    <i class="icon-chevron-left"></i> Continue shopping
                </a>
            </div>
            <div class="right">
                @helper.orderSummary(cart)
                <a href="@routes.Checkouts.show" class="btn btn-success">
                    Proceed to checkout <i class="icon-chevron-right icon-white"></i>
                </a>
            </div>
        </div>

    </div>
}{


}