@(page: Int, sort: String, category: Category)

@scripts = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
    <script src="@routes.Assets.at("javascripts/product-list.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/product-thumbnail.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/cart.min.js")"></script>
}

@main(category.getName, "category", scripts){
    <div class="navigation">
        @helper.topNavigation()
        @helper.mainNavigation(category)
    </div>
    @helper.breadcrumb(category)
}{
    <div id="category-product-list" class="clearfix">
        @helper.productList(page, sort, category)
    </div>
}{
    @helper.jumpToTop()
}