@(cart: Cart, setAddressForm: Form[addressForm.SetAddress], section: Int = 1)

@scripts = {
    <script src="@routes.Assets.at("javascripts/checkout.js")"></script>
    <script id="payment-method-template" type="text/x-handlebars-template">
        <input type="hidden" name="referredId" value="{{referredId}}"/>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {{#each group}}
                {{#each network}}
                <li class="payment-network">
                    <a href="#network-{{networkCode}}" data-toggle="tab">
                        <img src="{{logoUrl}}" class="network-img" alt="{{description}}"/>
                    </a>
                </li>
                {{/each}}
                {{/each}}
            </ul>
            <div id="billing-method-form" class="tab-content">
                {{#each group}}
                {{#each network}}
                <div class="payment-network-form tab-pane" id="network-{{networkCode}}">
                    <input type="text" name="network" value="{{networkCode}}">
                    {{{formHtml}}}
                </div>
                {{/each}}
                {{/each}}
            </div>
        </div>
    </script>
}

@main("Checkout", "checkout", scripts){
    <div class="navigation">
        @helper.topNavigation()
    </div>
}{
    <div id="checkout">
        <div id="checkout-cart" class="step clearfix current">

            <div class="step-header">
                <span class="step-number">1</span>
                <h3>Cart summary</h3>
                <button type="button" class="btn btn-edit hide">
                    Change <i class="icon-edit"></i>
                </button>
            </div>

            <div class="step-body">
                <ul class="cart-content unstyled">
                    @for(item <- cart.getLineItems) {
                    <li id="item-line-@item.getId" class="item-line">
                        <div class="item-container clearfix">
                            <div class="item-picture increase">
                                <img src="@item.getVariant.getFeaturedImage.getSize(ImageSize.SMALL).getUrl" alt="@item.getProductName" />
                            </div>
                            <div class="item-description">
                                <div class="item-main">
                                    <ul class="item-action">
                                        @if(item.getQuantity > 1) {
                                        <li class="item-price">
                                            @item.getPrice.getValue
                                        </li>
                                        <li class="item-quantity">
                                            @item.getQuantity
                                        </li>
                                        }
                                        <li class="item-total-price">
                                            <span id="item-total-price-@item.getId">@item.getTotalPrice</span>
                                        </li>
                                    </ul>
                                    <div class="item-name">
                                        <h5>@item.getProductName</h5>
                                    </div>
                                </div>
                                <div class="item-detail show">
                                     <ul class="unstyled">
                                        @for(attribute <- item.getVariant.getAttributes) {
                                        <li><strong>@capitalizeInitials(attribute.getName):</strong> @attribute.getString</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>

            <div class="step-footer">
                <button type="button" class="btn btn-success btn-next">
                    Next <i class="icon-chevron-right icon-white"></i>
                </button>
            </div>
        </div>

        <form id="form-shipping-address" action="@routes.Checkouts.setShippingAddress" method="post">
            <div id="checkout-shipping" class="step disabled clearfix">
                <div class="step-header">
                    <span class="step-number">2</span>
                    <h3>Shipping</h3>
                    <button type="button" class="btn btn-edit hide">
                        Change <i class="icon-edit"></i>
                    </button>
                </div>

                <div class="step-body">
                    <div id="shipping-address-form" class="show">
                        @form.setAddress(setAddressForm)
                    </div>

                    <div class="address hide">
                        <ul id="shipping-address-summary" class="form-summary address">
                            <li>
                                <span data-form="firstName" class="first-name">
                                    @setAddressForm.field("firstName").value
                                </span>
                                <span data-form="lastName" class="last-name">
                                    @setAddressForm.field("lastName").value
                                </span>
                                <span data-form="company" class="company">
                                    @setAddressForm.field("company").value
                                </span>
                            </li>
                            <li>
                                <span data-form="street" class="street">
                                    @setAddressForm.field("street").value
                                </span>
                            </li>
                            <li>
                                <span data-form="street2" class="street">
                                    @setAddressForm.field("street2").value
                                </span>
                            </li>
                            <li>
                                <span data-form="postalCode" class="postal-code">
                                    @setAddressForm.field("postalCode").value
                                </span>
                                <span data-form="city" class="city">
                                    @setAddressForm.field("city").value
                                </span>
                                <span data-form="country" class="country">
                                    @setAddressForm.field("country").value
                                </span>
                            </li>
                            <li>
                                <span data-form="phone" class="phone">
                                    @setAddressForm.field("phone").value
                                </span>
                            </li>
                            <li>
                                <span data-form="mobile" class="mobile">
                                    @setAddressForm.field("mobile").value
                                </span>
                            </li>
                            <li>
                                <span data-form="email" class="email">
                                    @setAddressForm.field("email").value
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="step-footer">
                    <div class="messages"></div>
                    <button type="submit" class="btn btn-success btn-next" data-loading-text="Saving...">
                         Next <i class="icon-chevron-right icon-white"></i>
                    </button>
                </div>
            </div>
        </form>

        <form id="form-billing-method" action="@getPaymentUrl" method="post" autocomplete="off">
            <div id="checkout-billing" class="step disabled clearfix">
                <div class="step-header">
                    <span class="step-number">3</span>
                    <h3>Payment</h3>
                    <button type="button" class="btn btn-edit hide">
                        Change <i class="icon-edit"></i>
                    </button>
                </div>

                <div class="step-body">
                    <div id="payment-networks" data-url="@routes.Checkouts.getPaymentMethod" class="show">
                        <div class="loading-ajax">Loading...</div>
                    </div>
                    <div class="hide">
                        <ul id="billing-method-summary" class="form-summary">
                            <li>
                                <span data-form="network" class="network">
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="step-footer">
                    <div class="messages"></div>
                    <button type="button" class="btn btn-success btn-next">
                        Next <i class="icon-chevron-right icon-white"></i>
                    </button>
                </div>
            </div>

            <div id="checkout-footer" class="footer">
                <div class="left">
                    <a href="@getReturnUrl" class="btn">
                        <i class="icon-chevron-left"></i> Go back
                    </a>
                </div>
                <div class="right">
                    @helper.orderSummary(cart)
                    <button type="submit" class="btn btn-primary btn-large">
                        Complete payment <i class="icon-shopping-cart icon-white"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
}{


}