@(customer: Customer, updateCustomerForm: Form[UpdateCustomer], updatePasswordForm: Form[UpdatePassword])

@scripts = {
    <script src="@routes.Assets.at("javascripts/customer.js")"></script>
}

@main("Customer", "customer", scripts){
<div class="navigation">
    @helper.topNavigation()
</div>
}{
<div id="customer">

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-profile" data-toggle="tab">
                    User profile
                </a>
            </li>
            <li>
                <a href="#tab-update-data" data-toggle="tab">
                    Change data
                </a>
            </li>
            <li>
                <a href="#tab-update-password" data-toggle="tab">
                    Change password
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-profile">
                <p>Welcome <span data-form-update="firstName">@customer.getFirstName!</span></p>
            </div>

            <div class="tab-pane" id="tab-update-data">
                <form id="form-update-customer" action="@routes.Customers.update" method="post">
                    @form.updateCustomer(updateCustomerForm)
                    <button type="submit" class="btn btn-success" data-loading-text="Saving...">
                        Save
                    </button>

                </form>
            </div>

            <div class="tab-pane" id="tab-update-password">
                <form id="form-update-password" action="@routes.Customers.updatePassword" method="post">
                    @form.updatePassword(updatePasswordForm)
                    <button type="submit" class="btn btn-success" data-loading-text="Saving...">
                        Save
                    </button>
                    <div class="messages"></div>
                </form>
            </div>
        </div>
    </div>

</div>
}{


}