@(page: Int, sort: String)

@scripts = {
    <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/2.1.08/jquery.masonry.min.js"></script>
    <script src="@routes.Assets.at("javascripts/product-list.js")"></script>
    <script src="@routes.Assets.at("javascripts/product-thumbnail.js")"></script>
    <script src="@routes.Assets.at("javascripts/cart.js")"></script>
}

@main("Home", "home", scripts){
    <div class="navigation">
        @helper.topNavigation()
        @helper.mainNavigation()
    </div>
}{
    <div id="featured-product-list" class="clearfix">
        @helper.productList(page, sort)
    </div>
}{
    @helper.jumpToTop()
}