@(isResetPassword: Boolean, logInForm: Form[customerForm.LogIn], signUpForm: Form[customerForm.SignUp], recoverPasswordForm: Form[passwordForm.RecoverPassword], resetPasswordForm: Form[passwordForm.ResetPassword])

@scripts = {
    <script src="@routes.Assets.at("javascripts/login.js")"></script>
}

@main("Log in", "login", scripts){
<div class="navigation">
    @helper.topNavigation()
</div>
}{
<div id="login">

    <div id="login-log-in" class="clearfix">
        <h4>Log In</h4>
        <form id="form-log-in" action="@routes.Login.logIn" method="post">
            @form.logIn(logInForm)
            <button type="submit" class="btn btn-primary" data-loading-text="Signing in...">
                Log in!
            </button>
            <div class="messages"></div>
        </form>
        <div class="forgot-password">
            <a href="#recover-password-modal" role="button" data-toggle="modal">Forgot password?</a>
        </div>
    </div>

    <div id="login-sign-up" class="clearfix">
        <h4>Sign Up</h4>
        <p>Not a member yet?</p>
        <form id="form-sign-up" action="@routes.Login.signUp" method="post">
            @form.signUp(signUpForm)
            <button type="submit" class="btn btn-success" data-loading-text="Registering...">
                Sign up!
            </button>
            <div class="messages"></div>
        </form>
    </div>

    <div id="recover-password-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="recover-password-label" aria-hidden="true">
        <form id="form-recover-password" action="@routes.Login.recoverPassword" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="recover-password-label">Recover password</h3>
            </div>
            <div class="modal-body">
                <p>You will receive an email with the instructions to follow in order to recover your password.</p>
                @form.recoverPassword(recoverPasswordForm)
                <div class="messages"></div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success" data-loading-text="Sending email...">
                    Send
                </button>
            </div>
        </form>
    </div>

    @if(isResetPassword){
    <div id="reset-password-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="reset-password-label" aria-hidden="true">
        <form id="form-reset-password" action="@routes.Login.resetPassword" method="post">
            <div class="modal-header">
                <h3 id="reset-password-label">Reset password</h3>
            </div>
            <div class="modal-body">
                @form.resetPassword(resetPasswordForm)
                <div class="messages"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-loading-text="Resetting password...">
                    Reset password
                </button>
            </div>
        </form>
    </div>
    }

</div>
}{


}