@(logInForm: Form[LogIn], signUpForm: Form[SignUp])

@scripts = {
    <script src="@routes.Assets.at("javascripts/lib-form.js")"></script>
    <script src="@routes.Assets.at("javascripts/login.js")"></script>
}

@main("Log in", "login", scripts){
<div class="navigation">
    @helper.topNavigation()
</div>
}{
<div id="login">

    <div id="login-log-in" class="clearfix">
        <h4>Log In</h4>
        <form id="form-log-in" action="@routes.Login.logIn" method="post">
            @form.logIn(logInForm)
            <button type="submit" class="btn btn-primary" data-loading-text="Signing in...">
                Log in!
            </button>
        </form>
    </div>

    <div id="login-sign-up" class="clearfix">
        <h4>Sign Up</h4>
        <p>Not a member yet?</p>
        <form id="form-sign-up" action="@routes.Login.signUp" method="post">
            @form.signUp(signUpForm)
            <button type="submit" class="btn btn-success" data-loading-text="Registering...">
                Sign up!
            </button>
        </form>
    </div>

</div>
}{


}