@(title: String, bodyClass: String = "", scripts: Html = Html(""), styles: Html = Html(""))(header: Html)(content: Html)(footer: Html)(implicit lang: Lang)

<!DOCTYPE html>
<html lang="@lang.code">

    <head>

        <title>@title</title>

        <meta content="text/html"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="@lang.code">
        <meta name="description" content="Here is a description of the shop that will be shown as a search result."/>
        <meta name="keywords" content="sport, snowboard, boots, gloves, beanies, goggles, bags"/>
        <meta name="author" content="commercetools"/>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/responsive.css")">
        @styles

    </head>

    <body class="@bodyClass">

        <div class="container">
            <header>
                @header
            </header>

            <div id="content">
                <div id="messages">
                @if(flash.containsKey("error")) {<div class="alert alert-error">@flash.get("error")</div>}
                @if(flash.containsKey("warning")) {<div class="alert alert-alert">@flash.get("warning")</div>}
                @if(flash.containsKey("success")) {<div class="alert alert-success">@flash.get("success")</div>}
                @if(flash.containsKey("info")) {<div class="alert alert-info">@flash.get("info")</div>}
                </div>

                @content
            </div>

            <footer>
                @footer
            </footer>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.2.1/handlebars.min.js"></script>
        <script src="@routes.Assets.at("javascripts/mini-cart.js")"></script>
        <script src="@routes.Assets.at("javascripts/order-summary.js")"></script>
        <script src="@routes.Assets.at("javascripts/lib-form.js")"></script>
        <script src="@routes.Assets.at("javascripts/handlebars.js")"></script>
        @scripts

    </body>

</html>